.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: 1.1em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}

.dropdown-menu{
  min-width: 12rem;
}
.dropdown-item{
  padding-right: .5rem;
  padding-left: .5rem;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;

}

.tablinks.active {
    /* background-color: #616161; */
  border: 2px solid black;

}

.tablinks {
  outline:0;
  font-size:1em;
  background:#fff;
  border:none;
  padding:2px 4px;
  transition:all .5s ease-out;
  box-shadow:inset 0 0 0 0 rgba(0,0,0,.2),
    1px 1px 0 0 #000000,
    2px 2px 0 0 #000000,
    3px 3px 0 0 #000000
}

.tablinks:hover{
  color:#000;
}

/*.tablinks:active{
  color:#000;
  box-shadow:inset 0 -4px 0 0 rgba(0,0,0,.2),
    1px 1px 0 0 #000000,
    2px 2px 0 0 #000000,
    3px 3px 0 0 #000000,
    4px 4px 0 0 #000000,
    5px 5px 0 0 #000000;
}*/

.tablinks:focus{
    outline: none;
}
