{% extends 'layout.html' %}
{% block head %}
{% endblock head %}

{% block content %}
    <div class="container-fluid" style="padding: 2%;">
        <div class="row">
            <h2>Citation</h2>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p align="justify">
                <ol class="citations">
						<li>Eshleman, R., Jha, D. and Singh, R., 2017, November. Identifying individuals amenable to drug recovery interventions through computational analysis of addiction content in social media. In 2017 IEEE International Conference on Bioinformatics and Biomedicine (BIBM) (pp. 849-854). IEEE.<br><a href="http://tintin.sfsu.edu/papers/BIBM-2017.pdf" target="_blank"> http://tintin.sfsu.edu/papers/BIBM-2017.pdf</a></li>
						<li>Jha, D. and Singh, R. 2019, March. <i>SMARTS: the social media-based addiction recovery and intervention targeting server</i>. Bioinformatics. (under review) <br></li>
					</ol>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}