{% extends 'layout.html' %}
{% block head %}
{% endblock head %}

{% block content %}
    <div class="container-fluid" style="padding: 2%;">
        <div class="row">
            <h2>Contact</h2>
        </div>
            <p>Please contact Dr. Rahul Singh or Deeptanshu Jha for any queries regarding this project.</p>
            <p>Dr. Rahul Singh: <a href="mailto:rahul@sfsu.edu?Subject=Enquiry%20IORI%20Project" target="_top">
                rahul@sfsu.edu
            </a></p>
            <p>Deeptanshu Jha: <a href="mailto:djha@mail.sfsu.edu?Subject=Enquiry%20IORI%20Project" target="_top">
                djha@mail.sfsu.edu
            </a></p>

    </div>
{% endblock content %}