<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/styling.css">
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">
        <img src="/static/sfsu.jpeg" width="241px" height="63px" class="d-inline-block align-top"/>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/train">Train Classifier</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               href="#" id="navbarDropdownMenuLink"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false">
              Run Classifier
            </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="/run_single">Single user</a></li>
                  <li><a class="dropdown-item" href="/train">Batch</a></li>
              </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/results">Results</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Tutorial</a>
          </li>
        </ul>
      </div>
    </nav>


{#  <div id="signupModal" class="modal fade" role="dialog">#}
{#      <div class="modal-dialog">#}
{##}
{#        <!-- Modal content-->#}
{#        <div class="modal-content">#}
{#          <div class="modal-header">#}
{#            <button type="button" class="close" data-dismiss="modal">&times;</button>#}
{#            <h4 class="modal-title">Sign up</h4>#}
{#          </div>#}
{#          <div class="modal-body">#}
{#              <form action="signup" method="post">#}
{#                  <div class="form-group">#}
{#                    <label for="exampleName">Name</label>#}
{#                    <input type="text" class="form-control" name="name" id="exampleName" placeholder="Enter Name">#}
{#                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>#}
{#                  </div>#}
{#                  <div class="form-group">#}
{#                    <label for="exampleInputEmail1">Email address</label>#}
{#                    <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">#}
{#                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>#}
{#                  </div>#}
{#                  <div class="form-group">#}
{#                    <label for="exampleInputPassword1">Password</label>#}
{#                    <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">#}
{#                  </div>#}
{#                  <button type="submit" class="btn btn-primary">Sign up</button>#}
{#            </form>#}
{#          </div>#}
{#          <div class="modal-footer">#}
{#            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
{#          </div>#}
{#        </div>#}
{##}
{#      </div>#}
{#  </div>#}
{##}
{#    <div id="loginModal" class="modal fade" role="dialog">#}
{#      <div class="modal-dialog">#}
{##}
{#        <!-- Modal content-->#}
{#        <div class="modal-content">#}
{#          <div class="modal-header">#}
{#            <button type="button" class="close" data-dismiss="modal">&times;</button>#}
{#            <h4 class="modal-title">Login</h4>#}
{#          </div>#}
{#          <div class="modal-body">#}
{#              <form method="post" action="login">#}
{#                  <div class="form-group">#}
{#                    <label for="exampleInputEmail1">Email address</label>#}
{#                    <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">#}
{#                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>#}
{#                  </div>#}
{#                  <div class="form-group">#}
{#                    <label for="exampleInputPassword1">Password</label>#}
{#                    <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">#}
{#                  </div>#}
{#                  <button type="submit" class="btn btn-primary">Submit</button>#}
{#            </form>#}
{#          </div>#}
{#          <div class="modal-footer">#}
{#            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
{#          </div>#}
{#        </div>#}
{##}
{#      </div>#}
{#  </div>#}
    <script>
        $('.dropdown-menu a.dropdown-toggle').on('click', function(e) {
          if (!$(this).next().hasClass('show')) {
            $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
          }
          var $subMenu = $(this).next(".dropdown-menu");
          $subMenu.toggleClass('show');


          $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
            $('.dropdown-submenu .show').removeClass("show");
          });


          return false;
        });
    </script>
  {% block content %}
  {% endblock %}

{#  {% if not login %}#}
{#       <script type="application/javascript">#}
{#            $('#loginModal').modal('show');#}
{#       </script>#}
{#  {% endif %}#}

  </body>
</html>