{% extends 'layout.html' %}

{% block content %}
    <script type="application/javascript">
        function getResult(id) {
            var url = location.hostname + '/project/' + id
            window.open(url)
        }
    </script>
    <div class="container">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Results</th>
              <th scope="col">Downloads</th>
            </tr>
          </thead>
          <tbody>
            {% for project in projects %}
                <tr>
                  <td>{{project.id}}</td>
                  <td>{{project.name}}</td>
                  <td>
                        <button type="button" class="btn btn-primary"
                            onclick="location.href = '/project/{{project.id}}';">
                            Result
                        </button>
                  </td>

                  <td>
                      <a href="/download/{{ project.id }}" target="blank">
                          <button class='btn btn-primary'>Download!</button>
                      </a>

                  </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>



{% endblock content %}