{% extends 'layout.html' %}

{% block head %}

    <link rel="stylesheet"
     href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.css"/>

    <link rel="stylesheet"
     href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/basic.min.css"/>

    <script type="application/javascript"
     src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.js">
    </script>
    <style>
        body {font-family: Arial;}

        /* Style the tab */
        .tab {
          overflow: hidden;
          border: 1px solid #ccc;
          background-color: #f1f1f1;
            margin: 2px;
        }

        /* Style the buttons inside the tab */
        .tab button {
          background-color: inherit;
          float: left;
          outline: none;
          cursor: pointer;
{#          padding: 14px 16px;#}
            padding: 10px 10px;
          transition: 0.3s;
{#          font-size: 17px;#}
          border: 1px solid black;
          font-size: small;
            margin: 1px;
        }

        /* Change background color of buttons on hover */
        .tab button:hover {
          background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab button.active {
          background-color: #ccc;
        }

        /* Style the tab content */
        .tabcontent {
          display: none;
          padding: 6px 12px;
          border: 1px solid #ccc;
          border-top: none;
        }

    </style>
    <script src="../static/helper.js"></script>
    <script>

        {% if project_id %}
        // Get the element with id="defaultOpen" and click on it
            $( document ).ready(function() {
                document.getElementById("defaultOpen").click();

                    document.getElementById("tabs-bar").style.display = "block";
                    document.getElementById("visualization").style.display = "block";

            });
        {% endif %}
    </script>

{% endblock head %}


{% block content %}
    <div class="container-fluid" style="padding: 2px;">

        <div class="row">
        <div class="col-sm-6" >
            <div class="container-fluid" style="border: 1px solid black;">
                <p align="center">Start new project</p>
                <div class="row">
                    <div class="col-sm-6" >
                        <label for="data">Upload user data zip file:</label>
                        <form method="POST" action='/upload-data' class="dropzone dz-clickable"
                            id="data" enctype="multipart/form-data">
                        </form>


                    </div>
                    <div class="col-sm-6" >
                        <label for="classifier">Upload your classifier zip file (optional):</label>
                        <form method="POST" class="dropzone dz-clickable" action="/upload-classifier"
                            id="classifier" enctype="multipart/form-data">
                        </form>


                    </div>
                    <div class="col-sm-12" style="text-align: center;" >
                        <form method="post" class="form">
                                <input type="hidden" name="filename" id="filename">
                                <input type="hidden" name="classifierName" id="classifierName">
                                <button type="submit" class="btn btn-primary" id="submit_project" disabled>Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="border: 1px solid black;">
            <p align="center"> How this works text </p>
        </div>
      </div>
        {% if project_id %}
        <div class="row" id="tabs-bar" style="border: 1px solid black; padding: 1px; display: none;">
            <div class="tab container-fluid">
                <button class="tablinks" id="defaultOpen" onclick="openCity(event, 'document-topics')">Document Topics</button>
                <button class="tablinks" onclick="openCity(event, 'geo-location')">Geo-location</button>
                <button class="tablinks" onclick="openCity(event, 'sentiment-summary')">Sentiment Summary</button>
                <button class="tablinks" onclick="openCity(event, 'recovery-bar-chart')">Recovery Bar Chart</button>
                <button class="tablinks" onclick="openCity(event, 'sentiment-analysis')">Sentiment Analysis</button>
                <button class="tablinks" onclick="openCity(event, 'drug-bar-chart')">Drug Bar Chart</button>
                <button class="tablinks" onclick="openCity(event, 'stacked-recovery-bar-chart')">Stacked Recovery Bar Chart</button>
                <button class="tablinks" onclick="openCity(event, 'temporal-drug-count')">Temporal Drug Count</button>
                <button class="tablinks" onclick="openCity(event, 'temporal-recovery-count')">Temporal Recovery Count</button>
            </div>
        </div>
        <div class="row container-fluid" id="visualization" style="display: none;">
            <div id="document-topics" class="tabcontent container-fluid">
                <iframe src="/visualizations/{{ project_id }}/document_topics.html" style="width:100%;
                height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
                    Your browser doesn't support iframes
                </iframe>
            </div>

            <div id="geo-location" class="tabcontent container-fluid">
              <iframe src="/visualizations/{{ project_id }}/my_map.html" style="width:100%;
                height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
                    Your browser doesn't support iframes
                </iframe>

            </div>

            <div id="sentiment-summary" class="tabcontent container-fluid">
              <iframe src="/visualizations/{{ project_id }}/no_of_positive_negative_neutral_posts.html" style="width:100%;
                height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
                    Your browser doesn't support iframes
                </iframe>

            </div>

            <div id="recovery-bar-chart" class="tabcontent container-fluid">
              <iframe src="/visualizations/{{ project_id }}/recovery_bar_chart.html" style="width:100%;
                height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
                    Your browser doesn't support iframes
                </iframe>

            </div>

            <div id="sentiment-analysis" class="tabcontent container-fluid">
              <iframe src="/visualizations/{{ project_id }}/sentiment_analysis.html" style="width:100%;
                height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
                    Your browser doesn't support iframes
                </iframe>

            </div>

            <div id="drug-bar-chart" class="tabcontent container-fluid">
              <iframe src="/visualizations/{{ project_id }}/stacked_drug_bar_chart.html" style="width:100%;
                height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
                    Your browser doesn't support iframes
                </iframe>

            </div>

            <div id="stacked-recovery-bar-chart" class="tabcontent container-fluid">
              <iframe src="/visualizations/{{ project_id }}/stacked_recovery_bar_chart.html" style="width:100%;
                height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
                    Your browser doesn't support iframes
                </iframe>

            </div>

            <div id="temporal-drug-count" class="tabcontent container-fluid">
              <iframe src="/visualizations/{{ project_id }}/temporal_drug_count.html" style="width:100%;
                height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
                    Your browser doesn't support iframes
                </iframe>

            </div>

            <div id="temporal-recovery-count" class="tabcontent container-fluid">
              <iframe src="/visualizations/{{ project_id }}/temporal_recovery_count.html" style="width:100%;
                height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
                    Your browser doesn't support iframes
                </iframe>

            </div>


        </div>
        {% endif %}
    </div>

    <script type="application/javascript">
        Dropzone.options.data = {
            paramName: 'file',
            chunking: true,
            forceChunking: true,
            url: '/upload-data',
            maxFilesize: 5000, // megabytes
            chunkSize: 100000000, // bytes
            maxFiles: 1,
            init: function () {
            this.on("complete", function (file) {
              if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                  document.getElementById('filename').value = file.xhr.responseText;
                  document.getElementById("submit_project").disabled = false;
              }
            });
          }
        };

        Dropzone.options.classifier = {
            paramName: 'file',
            chunking: true,
            forceChunking: true,
            url: '/upload-classifier',
            maxFilesize: 5000, // megabytes
            chunkSize: 100000000, // bytes
            maxFiles: 1,
            init: function () {
            this.on("complete", function (file) {
              if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                  document.getElementById('classifierName').value = file.xhr.responseText;
              }
            });
          }
        };

    </script>

  <!-- Modal -->
 {% if submission_successful %}
    <div class="modal fade in" id="projectModal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Project</h4>
            </div>
            <div class="modal-body">
              <p>Your project id: {{ project_id }}</p>
              <p>Your job id: {{ job_id }}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
    </div>
     <script type="application/javascript">
        $('#projectModal').modal('show');
     </script>
 {% endif %}

{% endblock content %}

