{% extends 'layout.html' %}

{% block head %}

    <link rel="stylesheet"
     href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.css"/>

    <link rel="stylesheet"
     href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/basic.min.css"/>

    <script type="application/javascript"
     src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.js">
    </script>
{% endblock head %}


{% block content %}

    <div class="container-fluid" style="padding: 2px; margin-top: 5%">
        <div class="row">
            <div class="col-sm-2" ></div>
            <div class="col-sm-8" >
                <div class="jumbotron" align="center" style="border: 1px solid black;">
                <h1 class="display-3">Run Batch</h1>
                <hr class="my-2">
                <div class="row">
                    <div class="col-sm-6" >
                        <label for="data">Upload user data zip file:</label>
                        <form method="POST" action='/upload-data' class="dropzone dz-clickable"
                            id="data" enctype="multipart/form-data" style="width: 400px">
                        </form>

                    </div>
                    <div class="col-sm-6" >
                        <label for="classifier">Upload your classifier zip file (optional):</label>
                        <form method="POST" class="dropzone dz-clickable" action="/upload-classifier"
                            id="classifier" enctype="multipart/form-data" style="width: 400px">
                        </form>
                        
                    </div>

                    <div class="col-sm-12" style="text-align: center; margin-top: 2%;" >
                        <form method="post" class="form">
                                <input type="hidden" name="filename" id="filename">
                                <input type="hidden" name="classifierName" id="classifierName">
                                <button type="submit" class="btn btn-primary" id="submit_project" disabled>Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            </div>

            <div class="col-sm-2" ></div>
        </div>
    </div>

    <script type="application/javascript">
        Dropzone.options.data = {
            paramName: 'file',
            chunking: true,
            forceChunking: true,
            url: '/upload-data',
            maxFilesize: 5000, // megabytes
            chunkSize: 100000000, // bytes
            maxFiles: 1,
            init: function () {
            this.on("complete", function (file) {
              if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                  document.getElementById('filename').value = file.xhr.responseText;
                  document.getElementById("submit_project").disabled = false;
              }
            });
          }
        };

        Dropzone.options.classifier = {
            paramName: 'file',
            chunking: true,
            forceChunking: true,
            url: '/upload-classifier',
            maxFilesize: 5000, // megabytes
            chunkSize: 100000000, // bytes
            maxFiles: 1,
            init: function () {
            this.on("complete", function (file) {
              if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                  document.getElementById('classifierName').value = file.xhr.responseText;
              }
            });
          }
        };

    </script>

  <!-- Modal -->
 {% if submission_successful %}
    <div class="modal fade in" id="projectModal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
               <p>Project submitted successfully.</p>
              <p>Project id: {{ project_id }}</p>
              <p>Please keep a note of your Project ID as it will be required to download the result.</p>
              <p>Results will be available in Results tab</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
    </div>
     <script type="application/javascript">
        $('#projectModal').modal('show');
     </script>
 {% endif %}

{% endblock content %}

