{% extends "layout.html" %}
{% block head %}
{% endblock head %}


{% block content %}
    <div class="container-fluid" style="padding: 2%;">
        <div class="row">
            <h2>Welcome to SMARTS</h2>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <p align="justify">
                SMARTS (Social Media based drug Addiction Recovery intervention Targeting web Server) is a web server that utilizes supervised machine
                learning, natural language processing, and causal analysis techniques to automatically determine high
                yield responders to drug addiction recovery interventions. SMARTS can further assist the epidemiologists
                and public health officials in analyzing the sentiment of the posts, identifying the drug, and recovery
                terms, different topics, and the location information present in the posts of the users.
                SMARTS is part of our effort to provide publicly available technologies that can be used by
                epidemiologists to identify individuals open to drug addiction recovery interventions and help curb the
                opioid epidemic.</p>
                <p>
                    Click on the link below to see the video introduction.
                    <iframe
                            style="width: auto;height: auto; " src="https://www.youtube.com/embed/A7tUM_nt6nM" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>
            </p>
            </div>
            <div class="col-sm-6">
                <h5>Get Started</h5>
                <p align="justify">

                    <ul>
                        <li>
                    Click on the link below to see detailed explanation of the analysis that can be done using SMARTS.
                            </li>
                    <iframe
                            style="width: auto;height: auto; " src="https://www.youtube.com/embed/6z6WzzED_yE" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>

                        <li>Get started with a <a href="/tutorial">tutorial</a>.</li>

                        <li>Click <a href="/results/sample_result_text">here</a> to view sample results for text based classification <a href="/static/ud.zip">(dataset).</a></li>
                        <li>Click <a href="/results-activity/sample_result_activity">here</a> to view sample results for activity based classification <a href="/static/single_user_input_folder.zip">(dataset).</a></li>


                        <li>Download SMARTS web-server source code.</li>
                <li>Please be sure to read the instructions in the tutorial before proceeding. Failure to
                            comply with the instructions is
                            likely to result in errors.</li>




                    </ul>
                </p>
            </div>

        </div>

    </div>
{% endblock content %}