{% extends 'layout.html' %}

{% block head %}

    <link rel="stylesheet"
     href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.css"/>

    <link rel="stylesheet"
     href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/basic.min.css"/>

    <script type="application/javascript"
     src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.js">
    </script>

{% endblock head %}


{% block content %}


    <form method="POST" action='/upload-data' class="dropzone dz-clickable"
      id="dropper" enctype="multipart/form-data">
    </form>

    <div class="container">
        <form method="post" class="form">
            <input type="hidden" name="filename" id="filename">
            <button type="submit" class="btn btn-primary" id="submit_project" disabled>Submit</button>
        </form>
    </div>

    <script type="application/javascript">
        Dropzone.options.dropper = {
            paramName: 'file',
            chunking: true,
            forceChunking: true,
            url: '/upload-data',
            maxFilesize: 5000, // megabytes
            chunkSize: 100000000, // bytes
            maxFiles: 1,
            init: function () {
            this.on("complete", function (file) {
              if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                  document.getElementById('filename').value = file.xhr.responseText;
                  document.getElementById("submit_project").disabled = false;
              }
            });
          }
        }

    </script>

  <!-- Modal -->
 {% if submission_successful %}
    <div class="modal fade in" id="projectModal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <p>Project submitted successfully.</p>
              <p>Project id: {{ project_id }}</p>
              <p>Please keep a note of your Project ID as it will be required to download the result.</p>
              <p>Results will be available in Results tab</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
    </div>
     <script type="application/javascript">
        $('#projectModal').modal('show');
     </script>
 {% endif %}

{% endblock content %}

