{% extends 'layout.html' %}
{% block head %}
{% endblock head %}

{% block content %}
    <div class="container-fluid" style="padding: 2%;">
        <div class="row">
            <h2>Tutorial</h2>
        </div>
        <div class="row">
            <div class="col-sm-12" ><h4>Example data sets.</h4></div>

            <ul>
                <li><a href="/static/text_based_single_user.zip">Download</a> example data set for using a pre-trained
                    text based (Reddit post or tweet) classifier for a single user.
                </li>
                <li><a href="/static/text_based_batch.zip">Download</a> example data set for using a pre-trained text
                    based (Reddit post or tweet) classifier for a batch of users.
                </li>
                <li><a href="/static/single_user_input_folder.zip">Download</a> example data set for using a pre-trained
                    activity based (Reddit only) classifier for a single user.
                </li>
                <li><a href="/static/batch_input_folder.zip">Download</a> example data set for using a pre-trained
                    activity based (Reddit only) classifier for a batch of users.
                </li>
                <li><a href="/static/train_uploads.zip">Download</a> example data set for training a personalized text
                    based (Reddit post or tweet) classifier.
                </li>
                <li><a href="/static/train_classifier_input_folder.zip">Download</a> example data set for training a
                    personalized activity based (Reddit only) classifier.
                </li>
                <li><a href="/static/personalized_classifier_text_based_single.zip">Download</a> example data set for
                    using a personalized classifier for text based analysis for a single user.
                </li>
                <li><a href="/static/personalized_classifier_text_based_batch.zip">Download</a> example data set for
                    using a personalized classifier for text based analysis for a batch of users.
                </li>
                <li><a href="/static/personalized_activity_single.zip">Download</a> example data set for using a
                    personalized classifier for activity based analysis for a single user.
                </li>
                <li><a href="/static/personalized_classifier_activity_batch.zip">Download</a> example data set for using
                    a personalized classifier for activity based analysis for a batch of users.
                </li>
            </ul>
            <h4>Upload Data and Run a Pre-Trained Classifier for a Single Reddit User (Post based analysis)</h4>
            <ul>
                <li><a href="/static/text_based_single_user.zip">Download</a> example data set for using a pre-trained
                    text based (Reddit post or tweet) classifier for a single user.
                </li>
                <li>Click on the drop-down menu “Upload Data and Run a Pre-trained Classifier”.</li>
                <li>Select “Single Reddit User”.</li>
                <li>Select “Post based analysis”.</li>
                <li>Click the "Browse/drop files here" space under “Upload user data zip file” and select the zipped
                    folder previously downloaded. Alternatively, drag and drop the zipped folder from your file explorer
                    onto the space.
                </li>
                <li>Click “Submit”.</li>
                <li>After the computation is complete you will be provided a link : “Click here to view the results.”
                </li>
                <li>Click on the link. You will be directed to your results page.</li>
            </ul>
            <h4>Upload Data and Run a Pre-Trained Classifier for a Single Reddit User (Activity based analysis)</h4>
            <ul>
                <li><a href="/static/single_user_input_folder.zip">Download</a> example data set for using a pre-trained
                    activity based (Reddit only) classifier for a single user.
                </li>
                <li>Click on the drop-down menu “Upload Data and Run a Pre-trained Classifier”.</li>
                <li>Select “Single Reddit User”.</li>
                <li>Select “Activity based analysis”.</li>
                <li>Click the "Browse/drop files here" space under “Upload user data zip file” and select the zipped
                    folder previously downloaded. Alternatively, drag and drop the zipped folder from your file explorer
                    onto the space.
                </li>
                <li>Click “Submit”.</li>
                <li>After the computation is complete, you will be directed to your results page.</li>
            </ul>
            <h4>Upload Data and Run a Pre-Trained Classifier for a Batch of Reddit Users (Post based analysis)</h4>
            <ul>
                <li><a href="/static/text_based_batch.zip">Download</a> example data set for using a pre-trained text
                    based (Reddit post or tweet) classifier for a batch of users.
                </li>
                <li>Click on the drop-down menu “Upload Data and Run a Pre-trained Classifier”.</li>
                <li>Select “Batch of Reddit Users”.</li>
                <li>Select “Post based analysis”.</li>
                <li>Click the "Browse/drop files here" space under “Upload user data zip file” and select the zipped
                    folder previously downloaded. Alternatively, drag and drop the zipped folder from your file explorer
                    onto the space.
                </li>
                <li>Click “Submit”.</li>
                <li>You will be provided with a Project Id. Make a note of it.</li>
                <li>Click on the “Download Results” button.</li>
                <li>Enter the Project id in the “Download Results” bar.</li>
                <li>Click Submit.</li>
                <li>If your results have been generated it will be downloaded automatically on your computer.</li>
                <li>If your results have not been generated, a “Results for Project Id have not been generated yet”
                    message will be displayed.
                </li>
            </ul>
            <h4>Upload Data and Run a Pre-Trained Classifier for a Batch of Reddit Users (Activity based analysis)</h4>
            <ul>
                <li><a href="/static/batch_input_folder.zip">Download</a> example data set for using a pre-trained
                    activity based (Reddit post or tweet) classifier for a batch of users.
                </li>
                <li>Click on the drop-down menu “Upload Data and Run a Pre-trained Classifier”.</li>
                <li>Select “Batch of Reddit Users”.</li>
                <li>Select “Activity based analysis”.</li>
                <li>Click the "Browse/drop files here" space under “Upload user data zip file” and select the zipped
                    folder previously downloaded. Alternatively, drag and drop the zipped folder from your file explorer
                    onto the space.
                </li>
                <li>Click “Submit”.</li>
                <li>You will be provided with a Project Id. Make a note of it.</li>
                <li>Click on the “Download Results” button.</li>
                <li>Enter the Project id in the “Download Results” bar.</li>
                <li>Click “Submit”.</li>
                <li>If your results have been generated, it will be downloaded automatically on your computer.</li>
                <li>If your results have not been generated, a “Results for Project Id have not been generated yet”
                    message will be displayed.
                </li>
            </ul>

            <h4>Upload Data and Run a Pre-Trained Classifier for a Single Twitter User (Post based analysis)</h4>
            <ul>
                <li><a href="/static/text_based_single_user.zip">Download</a> example data set for using a pre-trained
                    text based (Reddit post or tweet) classifier for a single user.
                </li>
                <li>Click on the drop-down menu “Upload Data and Run a Pre-trained Classifier”.</li>
                <li>Select “Single Twitter User”.</li>
                <li>Select “Tweet based analysis”.</li>
                <li>Click the "Browse/drop files here" space under “Upload user data zip file” and select the zipped
                    folder previously downloaded. Alternatively, drag and drop the zipped folder from your file explorer
                    onto the space.
                </li>
                <li>Click “Submit”.</li>
                <li>After the computation is complete you will be provided a link : “Click here to view the results.”
                </li>
                <li>Click on the link. You will be directed to your results page.</li>
            </ul>
            <h4>Upload Data and Run a Pre-Trained Classifier for a Batch of Twitter Users (Post based analysis)</h4>
            <ul>
                <li><a href="/static/text_based_batch.zip">Download</a> example data set for using a pre-trained text
                    based (Reddit post or tweet) classifier for a batch of users.
                </li>
                <li>Click on the drop-down menu “Upload Data and Run a Pre-trained Classifier”.</li>
                <li>Select “Batch of Twitter Users”.</li>
                <li>Select “Tweet based analysis”.</li>
                <li>Click the "Browse/drop files here" space under “Upload user data zip file” and select the zipped
                    folder previously downloaded. Alternatively, drag and drop the zipped folder from your file explorer
                    onto the space.
                </li>
                <li>Click “Submit”.</li>
                <li>You will be provided with a Project Id. Make a note of it.</li>
                <li>Click on the “Download Results” button.</li>
                <li>Enter the Project id in the “Download Results” bar.</li>
                <li>Click Submit.</li>
                <li>If your results have been generated it will be downloaded automatically on your computer.</li>
                <li>If your results have not been generated, a “Results for Project Id have not been generated yet”
                    message will be displayed.
                </li>
            </ul>
            <h4>Upload Data and Train a Personalized Text based (Reddit and Twitter) Classifier.</h4>
            <ul>
                <li><a href="/static/train_uploads.zip">Download</a> example data set for training a personalized text
                    based (Reddit post or tweet) classifier.
                </li>
                <li>Click on the drop-down menu “Upload Data and Train a Personalized Classifier”.</li>
                <li>Select “Text Based Classifier”.</li>
                <li>Click the "Browse/drop files here" space under “Upload training data” and select the zipped folder
                    previously downloaded. Alternatively, drag and drop the zipped folder from your file explorer onto
                    the space.
                </li>
                <li>Click “Submit”.</li>
                <li>You will be provided with a Project Id. Make a note of it.</li>
                <li>Click on the “Download Results” button.</li>
                <li>Enter the Project id in the “Download Results” bar.</li>
                <li>Click Submit.</li>
                <li>If your results have been generated it will be downloaded automatically on your computer.</li>
                <li>If your results have not been generated, a “Results for Project Id have not been generated yet”
                    message will be displayed.
                </li>
            </ul>
            <h4>Upload Data and Train a Personalized Activity based (Reddit only) Classifier.</h4>
            <ul>
                <li><a href="/static/train_classifier_input_folder.zip">Download</a> example data set for training a
                    personalized activity based (Reddit only) classifier.
                </li>
                <li>Click on the drop-down menu “Upload Data and Train a Personalized Classifier”.</li>
                <li>Select “Activity Based Classifier”.</li>
                <li>Click the "Browse/drop files here" space under “Upload training data” and select the zipped folder
                    previously downloaded. Alternatively, drag and drop the zipped folder from your file explorer onto
                    the space.
                </li>
                <li>Click “Submit”.</li>
                <li>You will be provided with a Project Id. Make a note of it.</li>
                <li>Click on the “Download Results” button.</li>
                <li>Enter the Project id in the “Download Results” bar.</li>
                <li>Click Submit.</li>
                <li>If your results have been generated it will be downloaded automatically on your computer.</li>
                <li>If your results have not been generated, a “Results for Project Id have not been generated yet”
                    message will be displayed.
                </li>
            </ul>
            <h4>Upload Data and Run a Personalized Classifier for a Single Reddit User (Post based analysis)</h4>
            <ul>
                <li><a href="/static/personalized_classifier_text_based_single.zip">Download</a> example data set for
                    using a personalized text based (Reddit post or tweet) classifier for a single user.
                </li>
                <li>Click on the drop-down menu “Upload Data and Run a Pre-trained Classifier”.</li>
                <li>Select “Single Reddit User”.</li>
                <li>Select “Post based analysis”.</li>
                <li>Click the "Browse/drop files here" space under “Upload user data zip file” and select the
                    “user_data” zipped folder from the zipped folder previously downloaded. Alternatively, drag and drop
                    the zipped folder from your file explorer onto the space.
                </li>
                <li>Click the "Browse/drop files here" space under “Upload user data zip file” and select the
                    “classifier” zipped folder from the zipped folder previously downloaded. Alternatively, drag and
                    drop the “classifier” zipped folder from your file explorer onto the space.
                </li>
                <li>Click “Submit”.</li>
                <li>After the computation is complete you will be provided a link : “Click here to view the results.”
                </li>
                <li>Click on the link. You will be directed to your results page.</li>
            </ul>
            <h4>Upload Data and Run a Personalized Classifier for a Single Reddit User (Activity based analysis)</h4>
            <ul>
                <li><a href="/static/personalized_activity_single.zip">Download</a> example data set for using a
                    personalized activity based (Reddit only) classifier for a single user.
                </li>
                <li>Click on the drop-down menu “Upload Data and Run a Pre-trained Classifier”.</li>
                <li>Select “Single Reddit User”.</li>
                <li>Select “Activity based analysis”.</li>
                <li>Click the "Browse/drop files here" space under “Upload user data zip file” and select the
                    “user_data” zipped folder from the zipped folder previously downloaded. Alternatively, drag and drop
                    the zipped folder from your file explorer onto the space.
                </li>
                <li>Click the "Browse/drop files here" space under “Upload user data zip file” and select the
                    “classifier” zipped folder from the zipped folder previously downloaded. Alternatively, drag and
                    drop the “classifier” zipped folder from your file explorer onto the space.
                </li>
                <li>Click “Submit”.</li>
                <li>After the computation is complete you will be provided a link : “Click here to view the results.”
                </li>
                <li>Click on the link. You will be directed to your results page.</li>
            </ul>

            <h4>Upload Data and Run a Personalized Classifier for a Batch of Reddit Users (Post based analysis)</h4>
            <ul>
                <li><a href="/static/personalized_classifier_text_based_batch.zip">Download</a> example data set for
                    using a personalized text based (Reddit post or tweet) classifier for a batch of users.
                </li>
                <li>Click on the drop-down menu “Upload Data and Run a Pre-trained Classifier”.</li>
                <li>Select “Batch of Reddit Users”.</li>
                <li>Select “Post based analysis”.</li>
                <li>Click the "Browse/drop files here" space under “Upload user data zip file” and select the
                    “user_data” zipped folder from the zipped folder previously downloaded. Alternatively, drag and drop
                    the zipped folder from your file explorer onto the space.
                </li>
                <li>Click the "Browse/drop files here" space under “Upload user data zip file” and select the
                    “classifier” zipped folder from the zipped folder previously downloaded. Alternatively, drag and
                    drop the “classifier” zipped folder from your file explorer onto the space.
                </li>
                <li>Click “Submit”.</li>
                <li>You will be provided with a Project Id. Make a note of it.</li>
                <li>Click on the “Download Results” button.</li>
                <li>Enter the Project id in the “Download Results” bar.</li>
                <li>Click Submit.</li>
                <li>If your results have been generated it will be downloaded automatically on your computer.</li>
                <li>If your results have not been generated, a “Results for Project Id have not been generated yet”
                    message will be displayed.
                </li>
            </ul>


            <h4>Upload Data and Run a Personalized Classifier for a Batch of Reddit Users (Activity based analysis)</h4>
            <ul>
                <li><a href="/static/personalized_classifier_activity_batch.zip">Download</a> example data set for using
                    a personalized activity based (Reddit only) classifier for a batch of users.
                </li>
                <li>Click on the drop-down menu “Upload Data and Run a Pre-trained Classifier”.</li>
                <li>Select “Batch of Reddit Users”.</li>
                <li>Select “Activity based analysis”.</li>
                <li>Click the "Browse/drop files here" space under “Upload user data zip file” and select the
                    “user_data” zipped folder from the zipped folder previously downloaded. Alternatively, drag and drop
                    the zipped folder from your file explorer onto the space.
                </li>
                <li>Click the "Browse/drop files here" space under “Upload user data zip file” and select the
                    “classifier” zipped folder from the zipped folder previously downloaded. Alternatively, drag and
                    drop the “classifier” zipped folder from your file explorer onto the space.
                </li>
                <li>Click “Submit”.</li>
                <li>You will be provided with a Project Id. Make a note of it.</li>
                <li>Click on the “Download Results” button.</li>
                <li>Enter the Project id in the “Download Results” bar.</li>
                <li>Click “Submit”.</li>
                <li>If your results have been generated it will be downloaded automatically on your computer.</li>
                <li>If your results have not been generated, a “Results for Project Id have not been generated yet”
                    message will be displayed.
                </li>
            </ul>
            <h4>Upload Data and Run a Personalized Classifier for a Single Twitter User (Tweet based analysis)</h4>
            <ul>
                <li><a href="/static/personalized_classifier_text_based_single.zip">Download</a> example data set for
                    using a personalized text based (Reddit post or tweet) classifier for a single user.
                </li>
                <li>Click on the drop-down menu “Upload Data and Run a Pre-trained Classifier”.</li>
                <li>Select “Single twitter User”.</li>
                <li>Select “Tweet based analysis”.</li>
                Click the "Browse/drop files here" space under “Upload user data zip file” and select the “user_data”
                zipped folder from the zipped folder previously
                <li>downloaded. Alternatively, drag and drop the zipped folder from your file explorer onto the space.
                </li>
                Click the "Browse/drop files here" space under “Upload user data zip file” and select the “classifier”
                zipped folder from the zipped folder
                <li>previously downloaded. Alternatively, drag and drop the “classifier” zipped folder from your file
                    explorer onto the space.
                </li>
                <li>Click “Submit”.</li>
                <li>After the computation is complete you will be provided a link : “Click here to view the results.”
                </li>
                <li>Click on the link. You will be directed to your results page.</li>
            </ul>

            <h4>Upload Data and Run a Personalized Classifier for a Batch of Twitter Users (Tweet based analysis)</h4>
            <ul>
                <li><a href="/static/personalized_classifier_text_based_batch.zip">Download</a> example data set for
                    using a personalized text based (Reddit post or tweet) classifier for a batch of users.
                </li>
                <li>Click on the drop-down menu “Upload Data and Run a Pre-trained Classifier”.</li>
                <li>Select “Batch of Twitter Users”.</li>
                <li>Select “Tweet based analysis”.</li>
                <li>Click the "Browse/drop files here" space under “Upload user data zip file” and select the
                    “user_data” zipped folder from the zipped folder previously downloaded. Alternatively, drag and drop
                    the zipped folder from your file explorer onto the space.
                </li>
                <li>Click the "Browse/drop files here" space under “Upload user data zip file” and select the
                    “classifier” zipped folder from the zipped folder previously downloaded. Alternatively, drag and
                    drop the “classifier” zipped folder from your file explorer onto the space.
                </li>
                <li>Click “Submit”.</li>
                <li>You will be provided with a Project Id. Make a note of it.</li>
                <li>Click on the “Download Results” button.</li>
                <li>Enter the Project id in the “Download Results” bar.</li>
                <li>Click Submit.</li>
                <li>If your results have been generated it will be downloaded automatically on your computer.</li>
                <li>If your results have not been generated, a “Results for Project Id have not been generated yet”
                    message will be displayed.
                </li>
            </ul>
        </div>
    </div>
{% endblock content %}