{% extends 'layout.html' %}
{% block head %}
    <script src="../static/helper.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.js"></script>
    <script>
         $( document ).ready(function() {
                document.getElementById("defaultOpen").click();
                document.getElementById("tabs-bar").style.display = "block";
                document.getElementById("visualization").style.display = "block";

            });
    </script>

    <style>
         /* Style the tab content */
        .tabcontent {
          display: none;
          padding: 6px 12px;
          border: 1px solid #ccc;
          border-top: none;
        }

    </style>
{% endblock head %}

{% block content %}
    <div class="container-fluid" align="center" style="padding: 2px">

    {% if project_id %}
        {% if recovery_intervention[1] == '1' %}
            <p style="font-size: x-large">{{ recovery_intervention[0] }} is open to a drug addiction recovery intervention.</p>
        {% else %}
            <p style="font-size: x-large">{{ recovery_intervention[0] }} is not open to a drug addiction recovery intervention.</p>
        {% endif %}
        <div class="row" id="tabs-bar" style="border: 1px solid black; padding: 1px;">
        <div class="tab container-fluid">
            <button class="tablinks" id="defaultOpen" onclick="openTab(event, 'document-topics')">Document Topics</button>
            <button class="tablinks" onclick="openTab(event, 'geo-location')">Geo-location</button>
            <button class="tablinks" onclick="openTab(event, 'sentiment-summary')">Sentiment Summary</button>
            <button class="tablinks" onclick="openTab(event, 'recovery-bar-chart')">Recovery Bar Chart</button>
            <button class="tablinks" onclick="openTab(event, 'sentiment-analysis')">Sentiment Analysis</button>
            <button class="tablinks" onclick="openTab(event, 'drug-bar-chart')">Drug Bar Chart</button>
            <button class="tablinks" onclick="openTab(event, 'temporal-drug-count')">Temporal Drug Count</button>
            <button class="tablinks" onclick="openTab(event, 'temporal-recovery-count')">Temporal Recovery Count</button>
        </div>
        </div>
        <div class="row container-fluid" id="visualization">
            <div id="document-topics" class="tabcontent container-fluid">
                <iframe src="/visualizations/{{ project_id }}/document_topics.html" style="width:100%;
                height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
                    Your browser doesn't support iframes
                </iframe>
            </div>

            <div id="geo-location" class="tabcontent container-fluid">
              <iframe src="/visualizations/{{ project_id }}/my_map.html" style="width:100%;
                height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
                    Your browser doesn't support iframes
                </iframe>

            </div>

            <div id="sentiment-summary" class="tabcontent container-fluid">
              <iframe src="/visualizations/{{ project_id }}/no_of_positive_negative_neutral_posts.html" style="width:100%;
                height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
                    Your browser doesn't support iframes
                </iframe>

            </div>

            <div id="recovery-bar-chart" class="tabcontent container-fluid">
              <iframe src="/visualizations/{{ project_id }}/recovery_bar_chart.html" style="width:100%;
                height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
                    Your browser doesn't support iframes
                </iframe>

            </div>

            <div id="sentiment-analysis" class="tabcontent container-fluid">
              <iframe src="/visualizations/{{ project_id }}/sentiment_analysis.html" style="width:100%;
                height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
                    Your browser doesn't support iframes
                </iframe>

            </div>

            <div id="drug-bar-chart" class="tabcontent container-fluid">
              <iframe src="/visualizations/{{ project_id }}/drug_bar_chart.html" style="width:100%;
                height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
                    Your browser doesn't support iframes
                </iframe>

            </div>


            <div id="temporal-drug-count" class="tabcontent container-fluid">
              <iframe src="/visualizations/{{ project_id }}/temporal_drug_count.html" style="width:100%;
                height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
                    Your browser doesn't support iframes
                </iframe>

            </div>

            <div id="temporal-recovery-count" class="tabcontent container-fluid">
              <iframe src="/visualizations/{{ project_id }}/temporal_recovery_count.html" style="width:100%;
                height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
                    Your browser doesn't support iframes
                </iframe>

            </div>


        </div>
        <div class="row container-fluid" id="numberOfTopicForm" style="display: none">
            <form method="post" id="topicNumber" >
              <div class="form-group">
                <label for="numberOfTopic">Modify number of topics:</label>
                <input type="number" class="form-control" id="numberOfTopic" name="numberOfTopic" placeholder="Number of topics">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>

            <script>
                $("#topicNumber").submit(function() {
                    $.blockUI({ css: {
                        border: 'none',
                        padding: '15px',
                        backgroundColor: '#000',
                        '-webkit-border-radius': '10px',
                        '-moz-border-radius': '10px',
                        opacity: .5,
                        color: '#fff'
                    }});
                });

            </script>

        </div>
    {% endif %}


    </div>
{% endblock content %}