{% extends 'layout.html' %}
{% block head %}
    <script src="../static/helper.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.js"></script>
    <script>
         $( document ).ready(function() {
                document.getElementById("defaultOpen").click();
                document.getElementById("tabs-bar").style.display = "block";
                document.getElementById("visualization").style.display = "block";

            });
    </script>

    <style>
         /* Style the tab content */
        .tabcontent {
            display: block;
          padding: 6px 12px;
          border: 1px solid #ccc;
          border-top: none;
        }

    </style>
{% endblock head %}

{% block content %}
    <div class="container-fluid" align="center" style="padding: 2px">

    {% if project_id %}
        <div class="row container-fluid" id="visualization">
            <div class="tabcontent container-fluid">
                <div class="row container-fluid" style="border: 1px solid black; border-radius: 4px; margin: 2px;">
                    <div class="col-sm-12" style="background:#33333333;">
                        <p>Recovery Propensity</p>
                    </div>

                    <div class="col-sm-12">
                        <p>{{ classification_result }}</p>
                    </div>
                </div>

                <div class="row container-fluid" style="border: 1px solid black; border-radius: 4px;">
                    <div class="col-sm-12" style="background:#33333333;">
                        <p>Subreddit Activity</p>
                    </div>
                    <div class="col-sm-12">
                        <iframe src="/visualizations/{{ project_id }}/{{ user_name }}/subreddit_bar_chart.html"
                                style="width:-webkit-fill-available; height:350px; border:none; margin:0;
                                 padding:0; overflow:hidden; z-index:999999;">
                            Your browser doesn't support iframes
                        </iframe>
                    </div>

                </div>

            </div>
        </div>
    {% endif %}


    </div>
{% endblock content %}
