{% extends 'layout.html' %}
{% block head %}
    <script src="../static/helper.js"></script>
    <script>
         $( document ).ready(function() {
                document.getElementById("defaultOpen").click();
                document.getElementById("tabs-bar").style.display = "block";
                document.getElementById("visualization").style.display = "block";

            });
    </script>
{% endblock head %}

{% block content %}
    <div class="container-fluid" align="center" style="padding: 2px">

    {% if project_id %}
        {% if recovery_intervention[1] == '1' %}
            <p style="font-size: x-large">{{ recovery_intervention[0] }} is open to a drug addiction recovery intervention.</p>
        {% else %}
            <p style="font-size: x-large">{{ recovery_intervention[0] }} is not open to a drug addiction recovery intervention.</p>
        {% endif %}
        <div class="row" id="tabs-bar" style="border: 1px solid black; padding: 1px;">
    <div class="tab container-fluid">
        <button class="tablinks" id="defaultOpen" onclick="openCity(event, 'document-topics')">Document Topics</button>
        <button class="tablinks" onclick="openCity(event, 'geo-location')">Geo-location</button>
        <button class="tablinks" onclick="openCity(event, 'sentiment-summary')">Sentiment Summary</button>
        <button class="tablinks" onclick="openCity(event, 'recovery-bar-chart')">Recovery Bar Chart</button>
        <button class="tablinks" onclick="openCity(event, 'sentiment-analysis')">Sentiment Analysis</button>
        <button class="tablinks" onclick="openCity(event, 'drug-bar-chart')">Drug Bar Chart</button>
{#        <button class="tablinks" onclick="openCity(event, 'stacked-recovery-bar-chart')">Stacked Recovery Bar Chart</button>#}
        <button class="tablinks" onclick="openCity(event, 'temporal-drug-count')">Temporal Drug Count</button>
        <button class="tablinks" onclick="openCity(event, 'temporal-recovery-count')">Temporal Recovery Count</button>
    </div>
    </div>
        <div class="row container-fluid" id="visualization">
            <div id="document-topics" class="tabcontent container-fluid">
                <iframe src="/visualizations/{{ project_id }}/document_topics.html" style="width:100%;
                height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
                    Your browser doesn't support iframes
                </iframe>
            </div>

            <div id="geo-location" class="tabcontent container-fluid">
              <iframe src="/visualizations/{{ project_id }}/my_map.html" style="width:100%;
                height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
                    Your browser doesn't support iframes
                </iframe>

            </div>

            <div id="sentiment-summary" class="tabcontent container-fluid">
              <iframe src="/visualizations/{{ project_id }}/no_of_positive_negative_neutral_posts.html" style="width:100%;
                height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
                    Your browser doesn't support iframes
                </iframe>

            </div>

            <div id="recovery-bar-chart" class="tabcontent container-fluid">
              <iframe src="/visualizations/{{ project_id }}/recovery_bar_chart.html" style="width:100%;
                height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
                    Your browser doesn't support iframes
                </iframe>

            </div>

            <div id="sentiment-analysis" class="tabcontent container-fluid">
              <iframe src="/visualizations/{{ project_id }}/sentiment_analysis.html" style="width:100%;
                height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
                    Your browser doesn't support iframes
                </iframe>

            </div>

            <div id="drug-bar-chart" class="tabcontent container-fluid">
              <iframe src="/visualizations/{{ project_id }}/drug_bar_chart.html" style="width:100%;
                height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
                    Your browser doesn't support iframes
                </iframe>

            </div>

{#            <div id="stacked-recovery-bar-chart" class="tabcontent container-fluid">#}
{#              <iframe src="/visualizations/{{ project_id }}/stacked_recovery_bar_chart.html" style="width:100%;#}
{#                height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">#}
{#                    Your browser doesn't support iframes#}
{#                </iframe>#}
{##}
{#            </div>#}

            <div id="temporal-drug-count" class="tabcontent container-fluid">
              <iframe src="/visualizations/{{ project_id }}/temporal_drug_count.html" style="width:100%;
                height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
                    Your browser doesn't support iframes
                </iframe>

            </div>

            <div id="temporal-recovery-count" class="tabcontent container-fluid">
              <iframe src="/visualizations/{{ project_id }}/temporal_recovery_count.html" style="width:100%;
                height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
                    Your browser doesn't support iframes
                </iframe>

            </div>


</div>
    {% endif %}


    </div>
{% endblock content %}